GEMINI_API_KEY= your-gemini-api-key-here
TELEGRAM_BOT_TOKEN= your-bot-token-here
TELEGRAM_CHAT_ID= your-id-here
DISCORD_WEBHOOK_URL= your-url-here-if-you-want
VERCEL_PROJECT_ID= your-project-id-here
VERCEL_ORG_ID= your-organization-id-here
VERCEL_TOKEN= your-vercel-auth-token-here